$main-back-color  : #282c34;
$active-color     : gray;
$card-back-color  : #cfd9af;
$card-font-color  : #4f5138;
// $mobile-width     : 576px;
$mobile-width     : 790px;

html, body {
  height: 100%;
  margin: 0;
}

#root{
  height: 100%;
}

.app-settings {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body-settings {
  flex-grow: 1;
  background-color: $main-back-color;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.87);
}

// header settings
.header {
  width: 100%;
  border-bottom: solid black 1px;
  background-color: $main-back-color;

  .one-3rd, .three-3rd{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    // border: 1px solid red;
  }


  .two-3rd {
    width: 70%;

    &-1 {
      width: 30%;
    }

    &-2 {
      width: 70%;
      display: flex;
      justify-content: flex-end;
    }

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }
  
  .nav-link:hover {
    background-color: $card-back-color;
    border-radius: 6px;
    font-weight: bold;
  }

  .active-link {
    border-radius: 6px;
    background-color: $card-back-color;
    font-weight: bolder;
  }

  .logo {
    padding: 0;
    border-radius: 50%;
    width: 70px;
    background-color: transparent;
    background-size: cover;

    img {
      border-radius: 50%;
      border: 7px solid transparent;

      &:hover {
        border: 3px solid $card-back-color;
        background-color: $card-back-color;
      }
    }

    .active-link:hover, .nav-link:hover {
      background-color: transparent;
    }
  }

  .logo-mobile {
    width: 2.5rem;
  }

  .nav {
    .text-items {
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 1rem 0;
  }
}


// social-media-box settings
.social-media-box {
  width: 100%;
  margin: 0 auto;
  padding: 0 17rem;
  display: flex;
  justify-content: space-around;
  background-color: $card-back-color;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  .icon-settings {
    height: 30px;
    width: 30px;
    opacity: 0.9;
    margin: 1rem 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0 3rem;
  }
}


.card-container {
  background-color: $card-back-color;;
  padding: 3rem;
  margin: 2rem auto;
  width: 70%;
  color: $card-font-color;
  border-radius: 20px;
  height: 78vh;
  // height: 100%;

  .form-text, .form-textarea {
    border-radius: .25rem;
    border: 1px solid wheat;
    font-size: 14px;
    margin: 0.5rem auto;
    padding-left: 1rem;
  }
  
  // .form-text-muted {
    //   color: gray;
    //   font-size: 12px;
    //   text-align: center;
    //   margin-bottom: 0.5rem;
    // }
    
  button {
    font-size: 14px;
    width: 50%;
    margin: 0.5rem auto;
  }
 
  .form-text, .form-textarea, button {
    width: 50%;
    min-width: 25rem;
  }

  .last-line {
     margin-top: 3rem;
   }
  
  .redBox {
    border: 3px solid red;
  }

  .button-sending {
    color: $main-back-color;
    background-color: aquamarine;
  }

  .button-thanks {
    background-color: mediumseagreen;
    color: navy;
    font-weight: bold;
  }

  
  @media (max-width: $mobile-width) {
    // display: flex;
    // flex-direction: column;
    padding: 1.5rem;
    margin: 10% auto;
    width: 80%;
    border-radius: 10px;
    // height: 100vh;
    min-height: 75vh;

    .form-text, .form-textarea, button {
      min-width: 0;
      width: 80%;
      // border: 2px solid red;
    }
  }
}


// it applies only for home component
.home-container {
  .cont1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 60%;

    h1 {
      font-size: 200%;
    }
    h2 {
      font-size: 150%;
    }
    h3 {
      font-size: 130%;
    }

    .cont1-2 {
      padding-top: 3rem;
    }
  }

  .cont2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-content: center;
    }

    .picture {
      width: 100%;
      opacity: 0.45;
      border-radius: 10px;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    height: 100%;
    padding: 0;
    
    .cont1 {
      width: 100%;
      padding: 1.5rem;
      height: 50%;

      h1 {
        font-size: 200%;
      }
      h2, h3 {
        font-size: 130%;
        text-align: center;
      }

      .cont1-2 {
        padding-top: 1.5rem;
      }
    }

    .cont2 {
      width: 70%;
      margin: 0 auto 1rem;
    }

    .picture {
      width: 80%;
      margin: auto;
      margin-bottom: 0;
    }
  }
}


// contact settings
.card-contact {
  //it gives an offset only for this component (Contact)
  padding: 3rem 3rem 0;
  margin-bottom: 0;
  border-bottom: none;
  border-radius: 20px 20px 0 0;

  .form-text, .form-textarea {
    border-radius: .25rem;
    border: 1px solid wheat;
    font-size: 14px;
    margin: 0.5rem auto;
    padding-left: 1rem;
  }
  
  // .form-text-muted {
    //   color: gray;
    //   font-size: 12px;
    //   text-align: center;
    //   margin-bottom: 0.5rem;
    // }
    
  button {
    font-size: 14px;
    width: 50%;
    margin: 0.5rem auto;
  }
 
  .form-text, .form-textarea, button {
    width: 50%;
    min-width: 25rem;
  }
  
  .redBox {
    border: 3px solid red;
  }

  .button-sending {
    color: $main-back-color;
    background-color: aquamarine;
  }

  .button-thanks {
    background-color: mediumseagreen;
    color: navy;
    font-weight: bold;
  }

  @media (max-width: $mobile-width) {
    .form-text, .form-textarea, button {
      min-width: 100%;
    }
  }
}



// it is a temporary CSS class just for setting TEMP component
.temp {
  height: 100%;

  .temp1, .temp2 {
    width: 50%;
    text-align: center;

    .cp {
      margin: 3rem 0;
    }
  }

  .temp2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    .temp1 {
      margin: 0;
      width: 100%;
    }

    .temp2 {
      width: 100%;
      height: 100%;
      align-items: center;
      img {
        width: 80%;
      }
    }
  }
}

