$main-back-color  : #282c34;
$active-color     : gray;
$card-back-color  : #cfd9af;
$card-font-color  : #4f5138;

html, body {
  height: 100%;
  margin: 0;
}

#root{
  height: 100%;
}

.app-settings {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body-settings {
  flex-grow: 1;
  background-color: $main-back-color;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.87);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  border-bottom: solid black 1px;
  background-color: $main-back-color;
}

.header-right {
  display: flex;
  flex-direction: row;
}

.nav-link:hover {
  background-color: $active-color;
  border-radius: 6px;
}

.active-link {
  border-radius: 6px;
  border: $active-color 2px solid;
  background-color: $active-color;
  font-weight: bolder;
}

.social-media-box {
  margin: 0 15rem 3rem;
  // margin-top: 3rem;
  padding: 0 10rem;
  display: flex;
  justify-content: space-around;
  border: 2px solid gray;
  background-color: wheat;
  border-radius: 5px;
}

.icon-settings {
  height: 30px;
  width: 30px;
  opacity: 0.9;
  margin: 1rem 0;
}

.card-container {
  background-color: $card-back-color;
  margin: 3rem 15rem 0;
  color: $card-font-color;
}

.card-inner {
  margin: 2rem;
}

.header {
  > a {
    border: 1px solid green;
    padding: 0;
    border-radius: 50%;
    width: 65px;
  }
}


.home-container {
  display: flex;
  flex-direction: row;
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0 4rem 3rem;
  }
  .cont1 {
    flex: 1 1 55%;
  }
  .cont2 {
    flex: 1 1 45%;
  }
  .picture {
    width: 100%;
    opacity: 45%;
  }
}