$main-back-color  : #282c34;
$active-color     : gray;
$card-back-color  : #cfd9af;
$card-font-color  : #4f5138;

html, body {
  height: 100%;
  margin: 0;
}

#root{
  height: 100%;
}

.app-settings {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body-settings {
  flex-grow: 1;
  background-color: $main-back-color;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.87);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  border-bottom: solid black 1px;
  background-color: $main-back-color;
}

.header-right {
  display: flex;
  flex-direction: row;
}

.nav-link:hover {
  background-color: $active-color;
  border-radius: 6px;
}

.active-link {
  border-radius: 6px;
  border: $active-color 2px solid;
  background-color: $active-color;
  font-weight: bolder;
}

.social-media-box {
  width: 70%;
  margin: -3rem auto 3rem;
  padding: 0 20rem;
  display: flex;
  justify-content: space-around;
  border: 2px solid gray;
  background-color: $card-back-color;
  border-radius: 5px;
}

.icon-settings {
  height: 30px;
  width: 30px;
  opacity: 0.9;
  margin: 1rem 0;
}

.card-container {
  background-color: $card-back-color;
  padding: 3rem;
  margin: 3rem auto;
  width: 70%;
  color: $card-font-color;
}


.header {
  > a {
    border: 1px solid green;
    padding: 0;
    border-radius: 50%;
    width: 55px;
  }
}


.home-container {
  display: flex;
  flex-direction: row;
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0 4rem 3rem;
  }
  .cont1 {
    flex: 1 1 60%;
  }
  .cont2 {
    flex: 1 1 40%;
  }
  .picture {
    width: 100%;
    opacity: 45%;
  }
}


.form-text, .form-textarea {
  min-width: 50%;
  max-width: 100px;
  margin: 0.5rem auto;
  padding-left: 1rem;
  border-radius: 7px;
  border: 1px solid wheat;
  font-size: 14px;
}

.form-textarea {
  height: 7rem;
  margin-bottom: 3rem;
}

.card-bottom-offset {
  padding: 3rem 3rem 0;
}