@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

.app-settings {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: green;
}

.body-settings {
  flex-grow: 1;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  min-height: calc(100vh - 5rem - 1px);
}

.header {
  width: 100%;
  border-bottom: 1px solid #4f5138;
  background-color: #282c34;
  height: 5rem;
}

.header .one-3rd, .header .three-3rd {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.header .one-3rd-1, .header .one-3rd-2, .header .three-3rd-1, .header .three-3rd-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.header .two-3rd {
  width: 70%;
  justify-content: space-between;
}

.header .two-3rd-1 {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .two-3rd-2 {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.header .two-3rd-2 .whereru {
  width: 20%;
}

.header .two-3rd-2 .text-items {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 790px) {
  .header .two-3rd {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.header .nav-link:hover {
  background-color: #cfd9af;
  border-radius: 6px;
}

.header .active-link {
  border-radius: 6px;
  background-color: #cfd9af;
}

.header .logo {
  padding: 0;
  border-radius: 50%;
  width: 60px;
  background-color: transparent;
  background-size: cover;
}

.header .logo img {
  border-radius: 50%;
  border: 7px solid transparent;
}

.header .logo img:hover {
  border: 3px solid #cfd9af;
  background-color: #cfd9af;
}

.header .logo .active-link:hover, .header .logo .nav-link:hover {
  background-color: transparent;
}

.header .logo--green img:hover {
  border: 5px solid #14D500;
  background-color: #14D500;
}

.header .logo--red img:hover {
  border: 5px solid #FF0000;
  background-color: #FF0000;
}

.header .logo-mobile {
  width: 2.5rem;
}

.header .nav .text-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .whereru {
  color: #cfd9af;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 790px) {
  .header {
    padding: 1rem 0;
  }
}

.social-media-box {
  width: 80%;
  padding: 0 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #cfd9af;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.social-media-box .icon-settings {
  height: 30px;
  width: 30px;
  opacity: 0.9;
  margin: 0.5rem 0;
}

@media (max-width: 790px) {
  .social-media-box {
    padding: 0 10%;
  }
}

.card {
  background-color: #cfd9af;
  padding: 2rem;
  margin: 1rem auto auto auto;
  width: 70%;
  color: #4f5138;
  border-radius: 20px;
  height: 80vh;
}

@media (max-width: 790px) {
  .card {
    flex-direction: column;
    padding: 1rem 1.5rem;
    width: 80%;
    border-radius: 10px;
    height: 75vh;
  }
}

.card-contact {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-contact .form-text, .card-contact .form-textarea {
  border-radius: .25rem;
  border: 1px solid wheat;
  font-size: 14px;
  margin: 0.5rem auto;
  padding-left: 1rem;
}

.card-contact button {
  display: block;
  margin: auto;
  margin-bottom: 0;
}

.card-contact .form-text, .card-contact .form-textarea, .card-contact button {
  width: 50%;
  min-width: 25rem;
}

.card-contact .redBox {
  border: 3px solid red;
}

.card-contact .button-sending {
  color: #282c34;
  background-color: aquamarine;
}

.card-contact .button-thanks {
  background-color: mediumseagreen;
  color: navy;
  font-weight: bold;
}

.card-contact .reCaptcha {
  display: flex;
  justify-content: center;
}

@media (max-width: 790px) {
  .card-contact .form-text, .card-contact .form-textarea, .card-contact button {
    min-width: 0;
    width: 85%;
  }
  .card-contact button {
    margin-bottom: 1rem;
  }
  .card-contact .btn-warning {
    margin-bottom: 0;
  }
  .card-contact .reCaptcha {
    transform: scale(0.85);
  }
}

.home-container .cont1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 2rem;
  width: 60%;
}

.home-container .cont1 h1 {
  font-size: 200%;
}

.home-container .cont1 .my-name {
  font-family: Oregano;
  font-size: 200%;
  padding-bottom: 1rem;
}

.home-container .cont1 h2 {
  font-size: 150%;
}

.home-container .cont1 h3 {
  font-size: 130%;
}

.home-container .cont1 .cont1-1 {
  text-align: center;
}

.home-container .cont1 .cont1-2 {
  padding-top: 3rem;
  text-align: center;
}

.home-container .cont2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media (max-width: 790px) {
  .home-container .cont2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-content: center;
  }
}

.home-container .cont2 .picture {
  width: 100%;
  opacity: 0.9;
  border-radius: 50%;
}

@media (max-width: 790px) {
  .home-container {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }
  .home-container .cont1 {
    width: 100%;
    padding: 0;
  }
  .home-container .cont1 h1 {
    font-size: 190%;
  }
  .home-container .cont1 h2, .home-container .cont1 h3 {
    font-size: 130%;
    text-align: center;
  }
  .home-container .cont1 .cont1-2 {
    padding-top: 1.5rem;
  }
  .home-container .cont2 {
    width: 90%;
    margin: 0 auto;
  }
  .home-container .picture {
    width: 100%;
    margin: auto;
    margin-bottom: 0;
  }
}

.signature {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  border-top: 1px solid #4f5138;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Oregano;
  font-size: 1rem;
  color: #4f5138;
  background-color: #282c34;
  font-weight: bold;
  font-variant: small-caps;
}

.signature span {
  font-family: sans-serif;
}

.temp {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

.temp .temp1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
}

.temp .temp1 .cp {
  margin: 1rem 2rem 1rem;
}

.temp .temp1 img {
  margin: 1rem auto 3rem;
}

.temp .temp2 {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.temp .temp2 img {
  border-radius: 15px 80px;
  width: 100%;
}

@keyframes motionblur {
  0% {
    filter: blur(10px);
  }
  20% {
    filter: blur(8px);
  }
  40% {
    filter: blur(6px);
  }
  50% {
    filter: blur(5px);
  }
  60% {
    filter: blur(4px);
  }
  80% {
    filter: blur(3px);
  }
  100% {
    filter: blur(0px);
  }
}

.temp .temp2 .me {
  border-radius: 20px;
  width: 75%;
  filter: blur(0px);
  animation-name: motionblur;
  animation-duration: 2s;
  animation-timing-function: steps(7, end);
}

@media (max-width: 790px) {
  .temp {
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-around;
  }
  .temp .temp1 {
    width: 100%;
  }
  .temp .temp1 .cp {
    margin: 1rem 1rem 0;
  }
  .temp .temp2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
  }
  .temp .temp2 img {
    width: 80%;
    border-radius: 15px 60px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem 3.5rem;
  height: 100%;
  overflow: auto;
}

@media (max-width: 790px) {
  .about {
    padding: 2rem 0.5rem;
  }
}

.text-about {
  width: 70%;
  align-self: flex-start;
  text-align: left;
  text-indent: 2rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 790px) {
  .text-about {
    width: 90%;
  }
}

.text-about:nth-child(odd) {
  align-self: flex-end;
}

.text-about::first-letter {
  font-weight: bold;
  color: green;
  font-size: 170%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.text-about:first-child {
  text-align: center;
  align-self: center;
}

.bice {
  text-align: center;
}

.bice .bice-settings {
  opacity: 0.5;
}
