html, body {
  height: 100%;
  margin: 0; }

#root {
  height: 100%; }

.app-settings {
  display: flex;
  flex-direction: column;
  height: 100%; }

.body-settings {
  flex-grow: 1;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.87); }

.header {
  display: flex;
  width: 100%;
  border-bottom: solid black 1px;
  background-color: #282c34; }
  .header .one-3rd, .header .three-3rd {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .header .two-3rd {
    width: 70%;
    display: flex; }
    .header .two-3rd-1 {
      width: 30%; }
    .header .two-3rd-2 {
      width: 70%;
      display: flex;
      justify-content: flex-end; }
  .header .nav-link:hover {
    background-color: #cfd9af;
    border-radius: 6px;
    font-weight: bold; }
  .header .active-link {
    border-radius: 6px;
    background-color: #cfd9af;
    font-weight: bolder; }
  .header .logo {
    padding: 0;
    border-radius: 50%;
    width: 70px;
    background-color: transparent;
    background-size: cover; }
    .header .logo img {
      border-radius: 50%;
      border: 7px solid transparent; }
      .header .logo img:hover {
        border: 3px solid #cfd9af;
        background-color: #cfd9af; }
    .header .logo .active-link:hover, .header .logo .nav-link:hover {
      background-color: transparent; }
  .header .nav .text-items {
    display: flex;
    align-items: center; }

.social-media-box {
  width: 70%;
  margin: 0 auto;
  padding: 0 20rem;
  display: flex;
  justify-content: space-around;
  background-color: #cfd9af;
  border-top: 1px solid gray;
  border-radius: 0 0px 20px 20px; }
  .social-media-box .icon-settings {
    height: 30px;
    width: 30px;
    opacity: 0.9;
    margin: 1rem 0; }

.card-container {
  background-color: #cfd9af;
  padding: 3rem;
  margin: 2rem auto;
  width: 70%;
  color: #4f5138;
  border-radius: 20px; }

.home-container {
  display: flex;
  flex-direction: row;
  height: 100%; }
  .home-container .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 2rem 2rem; }
  .home-container .cont1 {
    flex: 1 1 60%; }
    .home-container .cont1 h1 {
      margin: 0;
      font-size: 230%; }
  .home-container .cont2 {
    flex: 1 1 40%; }
  .home-container .picture {
    width: 100%;
    opacity: 0.45;
    border-radius: 10px; }

.card-contact {
  padding: 3rem 3rem 0;
  margin-bottom: 0;
  border-bottom: none;
  border-radius: 20px 20px 0 0; }
  .card-contact .form-text, .card-contact .form-textarea {
    border-radius: .25rem;
    border: 1px solid wheat;
    font-size: 14px;
    min-width: 50%;
    max-width: 100px;
    margin: 0.5rem auto;
    padding-left: 1rem; }
  .card-contact .form-text-muted {
    color: gray;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0.5rem; }
  .card-contact > button {
    font-size: 14px;
    min-width: 50%;
    max-width: 100px;
    margin: 0.5rem auto; }
  .card-contact > .last-line {
    margin-top: 3rem; }
  .card-contact .redBox {
    border: 3px solid red; }
  .card-contact .button-sending {
    color: #282c34;
    background-color: aquamarine; }
  .card-contact .button-thanks {
    background-color: mediumseagreen;
    color: navy;
    font-weight: bold; }

/*# sourceMappingURL=App.css.map */
